.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.formContainer {
  margin: 0;
  padding: 3rem 2rem;
  /* min-width: 900px; */
  /* max-width: 1200px; */
  width: 400px;
  border: 1px solid black;
}
